{% extends "base.html" %}
{% block content %}
    <h1>
        <img src="../static/img/mission_small.png"
           alt="здесь должна была быть картинка, но не нашлась">
        <label>Аварийный доступ</label>
    </h1>
    <p>Id астронавта</p>
    <div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="InputGroup-sizing-default">
    </div>
    <p>Пароль астронавта</p>
    <div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="InputGroup-sizing-default">
    </div>
    <p>Id капитана</p>
    <div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="InputGroup-sizing-default">
    </div>
    <p>Пароль капитана</p>
    <div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="InputGroup-sizing-default">
    </div>
<label></label>
 <button type="button" class="btn btn-primary">Доступ</button>
{% endblock %}